@import "normalize.css";

@font-face {
	font-family: "AtkinsonHyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
}

body {
	font-family: "AtkinsonHyperlegible";
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-height: 100svh; /*Only when supported*/
	color: var(--color-4);
	background-color: var(--color-8);
}

h1 {
	@extend %heading-L;
}
h2 {
	@extend %heading-M;
}
h3 {
	@extend %heading-S;
}

button,
input[type="submit"],
label:has(input[type="radio"]) {
	background: none;
	border: none;
	padding: 0;
	user-select: none;
	transition: background-color 0.3s;
}
.hoverable :is(button, input[type="submit"], label:has(input[type="radio"])):not(:disabled) {
	/*Only set on non-mobile devices to avoid the blue flash on tap*/
	cursor: pointer;
}