/*Variables and mixins declared here will be available in all other SCSS files*/
@import "minMaxSize.scss";

:root,
::backdrop {
	//dialog::background doesn't inherit variables set in :root
	--color-1: #fda214;
	--color-2: #bcced9;
	--color-3: #304859;
	--color-4: #152939;
	--color-5: #f2f2f2;
	--color-6: #7191a5;
	--color-7: #6395b8;
	--color-8: #fcfcfc;

	--loading-background: var(--color-4)
}

%heading-L,
%heading-M,
%heading-S {
	//h1
	margin: 0;
	font-size: 48px;
	line-height: 60px;
	font-weight: 700;
	color: var(--color-4);
}
%heading-M {
	//h2
	font-size: 32px;
	line-height: 40px;
}
%heading-S {
	//h3
	font-size: 20px;
	line-height: 25px;
}

%screen-reader-only {
	/*only visible to screen readers*/
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(
		1px 1px 1px 1px
	); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
	clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
	white-space: nowrap;
}

%container {
	/*screen size: 375px -> 768px -> 1440px*/
	/*container size: 327px -> 689px -> 1110px*/
	width: minMaxSize(327px, 689px);

	:global(.lar-tab) & {
		width: minMaxSize(689px, 1110px, 768px, 1440px);
	}
}

%modal-container {
	width: minMaxSize(327px, 654px);
	padding: minMaxSize(24px, 56px);
	box-sizing: border-box;
	background: var(--color-5);

	:global(dialog):has(&) {
		border-radius: minMaxSize(10px, 20px);

		&::backdrop {
			background: rgba(0, 0, 0, 0.5);
		}
	}
}

%large-button {
	width: 100%;
	height: minMaxSize(48px, 70px);
	border-radius: minMaxSize(26px, 35px);
	font-size: minMaxSize(18px, 32px);
	line-height: minMaxSize(22px, 40px);
}
